#gameContainer {
    text-align: center;
}
#gameText{
    text-align: center;
}
#gameBoard {
    border: 3px solid;
}

#container div{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#levelText {
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
}

#numText{
    color:darkred;
}


#scoreText {
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
}

#resetBtn {
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 40px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}